{#-
/**
 * Context variables:
 *
 * - external  (optional), defaults to FALSE
 * - jobtitle
 * - name                Full name of Data Protection Officer (DPO)
 * - company             (optional) DPO'sompany name
 * - address             Street address and house number
 * - zip                 Postal code
 * - city                City or location
 * - region              (optional) the country's region or state aka „Bundesland“
 * - country             (optional) Country
 * - phone               The phone number for href="tel:" attribute
 * - phone_display       (optional) The phone number to display, defaults to "phone"
 * - email               email address
 * - fax_display         (optional) Fax
 *
 * This templates uses HTML% Microdata.
 *
 * - Test-Tool von Google: https://search.google.com/structured-data/testing-tool?hl=de
 * - Generator:            http://rich-snippet-generator.de/schema-personen.php
 * - More Info:            http://rich-snippet-generator.de/schema-organisationen.html
 */
-#}


<h3>Datenschutzbeauftragter</h3>

<p>Der
{% if external is defined and external %}externe {% endif %}
Datenschutzbeauftragte des Verantwortlichen ist:</p>



<address itemscope itemtype="http://schema.org/Person">
  <div itemprop="name">{{ name }}</div>

  {% if jobtitle is defined and jobtitle %}
  <div itemprop="jobtitle"><strong>{{ jobtitle }}</strong></div>
  {% endif %}

  {% if company is defined and company %}
  <div itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">{{ company }}</span>
  </div>
  {% endif %}

  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div itemprop="streetAddress">{{ address }}</div>

    <div>
      <span itemprop="postalCode">{{ zip }}</span>
      <span itemprop="addressLocality">{{ city }}</span>
    </div>

    {% if region is defined and region %}
    <div itemprop="addressRegion">{{ region }}</div>
    {% endif %}

    {% if country is defined and country %}
    <div itemprop="addressCountry">{{ country }}</div>
    {% endif %}
  </div>


{% if email is defined and email %}
  E-Mail: <a itemscope="email" href="mailto:{{ email }}">
    <span itemprop="email">{{ email }}</span>
  </a><br>
{% endif %}


{% if phone is defined and phone %}
  Telefon: <a href="tel:{{ phone }}">
    <span itemprop="telephone">{{ phone_display|default(phone) }}</span>
  </a>
{% endif %}

{% if fax_display is defined and fax_display %}
	Fax: {{ fax_display }}<br>
{% endif %}
</address>
